<template>
  <div>
    <LoadingLayer v-show="loading" />
    <div class="base-layer">
      <div class="navbar">
        <CameraFilters
          @toggleCategory="toggleCategory"
          :categories="categories"
          :filters="filters.camera"
        />
      </div>
      <div class="content">
        <ImagesGallery :photos="marsPhotos" />
        <Throttle type="throttle" :wait="3000" events="click">
          <button class="more" @click="loadMorePhotos()">SHOW MORE</button>
        </Throttle>
      </div>
    </div>
  </div>
</template>

<script>
import mixin from "../mixin/marsGallery";
import Throttle from "../service/Throttle/index";
import ImagesGallery from "../components/ImagesGallery.vue";
import CameraFilters from "../components/CameraFilters.vue";
import LoadingLayer from "../components/LoadingLayer.vue";

export default {
  mixins: [mixin],
  components: { Throttle, ImagesGallery, CameraFilters, LoadingLayer },
};
</script>

<style>
.base-layer {
  display: flex;
}
.navbar {
  width: 300px;
}
.content {
  width: calc(100% - 300px);
  margin-bottom: 40px;
}
.more {
  background: #444;
  padding: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}
.more:hover {
  background: #333;
}
@media (max-width: 800px) {
  .navbar {
    display: none;
  }
  .content {
    width: 100%;
  }
}
</style>
