<template>
  <div class="category">
    <div class="title">Camera Filters</div>
    <div
      v-for="(total, name) in categories"
      :key="name"
      class="item"
      :class="{ active: isChecked(name) }"
      @click="toggleCategory(name)"
    >
      <div class="checkbox">
        <img v-show="isChecked(name)" src="../assets/images/approve.svg" />
      </div>
      <div>{{ name }} ({{ total }})</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    categories: {
      type: Object,
    },
    filters: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  methods: {
    toggleCategory(name) {
      this.$emit("toggleCategory", name);
    },
    isChecked(name) {
      return this.filters.includes(name);
    },
  },
};
</script>

<style scoped>
.category {
  position: sticky;
  top: 0;
}
.category .title {
  padding: 16px 10px;
  font-size: 16px;
}
.category .item {
  background: #333;
  color: #999;
  margin-bottom: 1px;
  padding: 10px;
  transition: all 0.4s;
  display: flex;
  gap: 10px;
  cursor: pointer;
  align-items: center;
}
.category .item.active {
  color: #00ff3c;
}
.checkbox {
  background: #222;
  width: 15px;
  height: 15px;
  padding: 2px;
  border: 1px solid #555;
}
.checkbox img {
  max-width: 100%;
}
</style>
