<template>
  <div class="images-wrapper">
    <img
      v-for="row in photos"
      :key="row.id"
      :alt="row.camera.name"
      :title="row.camera.full_name"
      :src="row.img_src"
    />
  </div>
</template>

<script>
export default {
  props: {
    photos: {
      type: Array,
      default() {
        return [];
      },
    },
  },
};
</script>

<style scoped>
.images-wrapper {
  overflow: hidden;
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 4px;
  -moz-column-count: 5;
  -moz-column-gap: 4px;
  column-count: 4;
  column-gap: 4px;
  transition: all 0.5s;
}

.images-wrapper:hover img {
  opacity: 0.4;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  z-index: 0;
}

.images-wrapper img:hover {
  opacity: 1;
  transform: scale(1.1);
  cursor: pointer;
  filter: blur(0);
  -webkit-filter: blur(0);
  z-index: 10;
  box-shadow: 0 0 10px 10px #00000045;
}

.images-wrapper img {
  width: 100% !important;
  height: auto !important;
  transition: transform 0.2s;
  margin-bottom: 4px;
  transition: all 0.5s;
  position: relative;
}

.images-wrapper {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1000px) {
  .images-wrapper {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .images-wrapper {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 400px) {
  .images-wrapper {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
</style>
