<template>
  <div id="app">
    <HomeLayer />
  </div>
</template>

<script>
import HomeLayer from "./views/HomeLayer.vue";

export default {
  components: { HomeLayer },
};
</script>

<style>
html,
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
</style>
